#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.container {
  align-items: center;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 25px;
  padding: 15px;
}

.container > h2 {
  margin-bottom: 25px;
  text-align: center;
}

.container select {
  margin: 0 auto;
  padding: 5px 25px;
}

.subContainer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
}
.subContainerColor {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  width: 100%;
}

.subContainer form,
p {
  align-items: center;
  display: flex;
  width: 50%;
}
.subContainer label {
  margin-right: 15px;
}

.showColor {
  height: 100px;
  width: 100px;
  margin: 5px 10px;
}
